*.rao
Graficos/bmp/*
init/MiniMap.dat
Dat/AreasStats.ini
/Mapas/NPCs y Bodys
/Mapas/Copia de Mapas
/OUTPUT
/Mapas/.stversions
OUTPUT/Configuracion.ini
OUTPUT/Configuracion.ini
OUTPUT/Configuracion.ini
